#include "resource.h"

/////////////////////////////////////////////////////////////////////////////
//
// Icon
//

/////////////////////////////////////////////////////////////////////////////
//
// Cursor
//

/////////////////////////////////////////////////////////////////////////////
//
// Bitmaps
//

BMP_WORKSPACE_20						BITMAP	MOVEABLE PURE 	"WorkSpace_20x20.bmp"
BMP_WORKSPACE_32						BITMAP	MOVEABLE PURE 	"WorkSpace_32x32.bmp"
BMP_WORKSPACE_48						BITMAP	MOVEABLE PURE 	"WorkSpace_48x48.bmp"

/////////////////////////////////////////////////////////////////////////////
//
// DFM
//


