#include <windows.h>

#include "resource.h"

/////////////////////////////////////////////////////////////////////////////
//
// Icon
//


/////////////////////////////////////////////////////////////////////////////
//
// Cursor
//

/////////////////////////////////////////////////////////////////////////////
//
// Bitmaps
//

BMP_APPLICATIONVHDL_20					BITMAP	MOVEABLE PURE 	"ApplicationVHDL_20x20.bmp"
BMP_APPLICATIONVHDL_32					BITMAP	MOVEABLE PURE 	"ApplicationVHDL_32x32.bmp"
BMP_APPLICATIONVHDL_48					BITMAP	MOVEABLE PURE 	"ApplicationVHDL_48x48.bmp"

/////////////////////////////////////////////////////////////////////////////
//
// DFM
//

TFORM_CREATEPROJECT 				DFM 		MOVEABLE PURE 	"TForm_CreateProject.dfm"
TFORM_EDITPROJECT 				  DFM 		MOVEABLE PURE 	"TForm_EditProject.dfm"
